huggingface_hub==1.14.0
hf_transfer==0.1.9
torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
transformers==5.8.0
safetensors==0.7.0
datasets==4.8.5
numpy==2.4.3
pandas==3.0.2
pyyaml==6.0.3
tqdm==4.67.3
accelerate==1.13.0
sentencepiece==0.2.1
